---
import { Icon } from 'astro-icon/components'
import MobileNavigationCSS from "./MobileNavigationCSS.astro";

const navigationItems = [
	{ name: "Projects", url: "/projects", isShown: true },
	{ name: "Blog", url: "/blog", isShown: true },
	{ name: "About Me", url: "/about", isShown: true },
	{ name: "Contact", url: "/#contact", isShown: true },
];

const socialIcons = [
	{
    name: "Github",
    url: "https://github.com/Steph-The-Dev/",
    icon: "mdi:github",
  },
	{
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/stephanpfeiffer/",
		icon: "mdi:linkedin",
  },
  {
    name: "Bluesky",
    url: "https://stephthedev.bsky.social/",
	icon: "simple-icons:bluesky",
  },
  {
    name: "RSS Feed",
    url: "https://stephthedev.de/blog.xml",
	  icon: "mdi:rss-feed",
  },
];

const currentPath = Astro.url.pathname;
---

<nav class="navbar">
    <a href="/" class="navbar-name">Stephan Pfeiffer</a>
    <div class="open-nav">

        <ul class="nav-links">
          {
            navigationItems.map((item) => (
              item.isShown && (
                <li>
                  <a href={item.url} class={currentPath === item.url ? 'active' : ''}>{item.name}</a>
                </li>
              )
            ))
          }
        </ul>
    </div>
    <div class="social-icons">
      {
        socialIcons.map((icon) => (
          <a href={icon.url} target="_blank" rel="noopener noreferrer" aria-label={`Visit ${icon.name}`}>
            <Icon name={icon.icon} aria-hidden="true" />
          </a>
        ))
      }
    </div>
    <MobileNavigationCSS items={navigationItems} />
  </nav>
  

  <style lang="scss">
          .navbar {
            display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 2rem;
        font-family: 'Inter';
        font-style: normal;
        font-size: 1rem;
        &-name {
          font-size: var(--fs-450);
          font-weight: 500;
        }
      }
    
    .nav-links {
        display: none;
    }

    .social-icons {
      display: none;
    }
    
    .mobile-nav {
      display: flex;
    }
    
    @media screen and (width > 900px) {
      .navbar {
        padding: 1.2rem 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
        font-size: 1.25rem;
        }
      
      .navbar-name {
        font-size: var(--fs-500);
      }
      
      .nav-links {
        display: flex;
        gap: 1.5rem;
        a {
          position: relative;
          &.active {
            font-style: italic;
            &::after {
              background-color: var(--clr-accent-400);
              position: absolute;
              content: "";
              display: block;
              bottom: -5px;
              height: 3px;
              width: 100%;          }
          }
          
          &:hover {
            font-style: italic;
            &::after {
              width: 100%;
            }
          }
          &::after {
            background-color: var(--clr-accent-400);
            position: absolute;
            content: "";
            display: block;
            bottom: -5px;
            height: 3px;
            width: 0%;
            transition: width 0.3s ease-in-out;
          }
        }
        }
  
      .mobile-nav {
          display: none;
      }

      
      .social-icons {
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
        a {
          display: flex;
          [data-icon] {
            font-size: 2.5rem;
            align-items: center;
            justify-content: center;
          }
  
        }
      }
      
    }
    </style>