---
export interface Props {
	title: string;
	pageTitle: string;
	description: string;
	socialImg?: URL;
}
const { title, description, pageTitle } = Astro.props;

import LocalFonts from "./LocalFonts.astro";

import { ClientRouter } from 'astro:transitions';
---

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={`Stephan Pfeiffer | ${title}`} />
	<meta name="description" content={description} />
    <title>{pageTitle}</title>
    <link
    rel="alternate"
    type="application/rss+xml"
    title={pageTitle}
    href={new URL("blog.xml", Astro.site)}
/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <LocalFonts />
</head>

<ClientRouter />