---
import { Icon } from 'astro-icon/components'
import MobileNavigation from "./MobileNavigation.astro";

const navigationItems = [
	{ name: "Projects", url: "/projects", isShown: false },
	{ name: "Blog", url: "/blog", isShown: false },
	{ name: "About Me", url: "/about", isShown: true },
	{ name: "Contact", url: "/#contact", isShown: true },
];

const socialIcons = [
	{
    name: "Github",
    url: "https://github.com/Steph-The-Dev/",
    icon: "mdi:github",
  },
	{
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/stephanpfeiffer/",
		icon: "mdi:linkedin",
  },
];

---

<nav class="navbar">
    <a href="/" class="navbar-name">Stephan Pfeiffer</a>
    <div class="open-nav">

        <ul class="nav-links">
          {
            navigationItems.map((item) => (
              item.isShown && (
                <li>
                  <a href={item.url}>{item.name}</a>
                </li>
              )
            ))
          }
        </ul>
    </div>
    <div class="social-icons">
      {
        socialIcons.map((icon) => (
          <a href={icon.url}>
            <Icon name={icon.icon} />
          </a>
        ))
      }
    </div>
    <MobileNavigation items={navigationItems} />
  </nav>
  

  <style lang="scss">
          .navbar {
            display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 2rem;
        font-family: 'Inter';
        font-style: normal;
        font-size: 1.5rem;
          }
    
    .nav-links {
        display: none;
    }

    .social-icons {
      display: none;
    }
    
    .mobile-nav {
        display: flex;
    }
    @media screen and (width > 800px) {
      .navbar {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
        }
      
      .navbar-name {
        font-weight: bold;
      }
      
      .nav-links {
        display: flex;
        gap: 1.5rem;
      }
  
      .mobile-nav {
          display: none;
      }
  
      .social-icons {
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
      }
      
      .social-icons {
        a {
          display: flex;
          [data-icon] {
            font-size: 2.5rem;
            align-items: center;
            justify-content: center;
          }
  
        }
      }
      
    }
    </style>