---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getRandomLightColor } from "../../lib/utils";


export interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
// console.log(post);

const { title, description, pubDate, image } = post.data;

const bgColor = getRandomLightColor();
---

<a href={`/blog/${post.id}/`} class="blog__card" style={`background-color: ${bgColor};`}>
    <div class="image-container">
        <Image src={image} alt={title} width={800} height={400} format="avif"/>
    </div>
    <div class="content">
        <time datetime={pubDate.toISOString()} class="pub-date">
            {pubDate.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            })}
        </time>
        <h2>{title}</h2>
        <p>{description}</p>
        <p class="action-link primary">
            <span>Read post</span>
            <span class="arrow">&rarr;</span>
        </p>
    </div>
</a>